.__magic-scroll {
  .__panel {
    &.__ios {
      -webkit-overflow-scrolling: touch;
    }
    &.__hide-ios-bar {
      padding-right: 10px;
      padding-bottom: 10px;
      width: calc(100% + 10px) !important;
      height: calc(100% + 10px) !important;
    }
    &.__hidebar::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &.__native {
    }
    &.__slide {
      user-select: none;
      min-width: 100%;
      min-height: 100%;
    }
    &.__transform {
      transform-origin: left top 0px;
    }
  }

  .__view {
  }

  .__rail {
    position: absolute;
    z-index: 1;
  }

  .__bar {
    cursor: pointer;
    position: absolute;
    margin: auto;
    transition: opacity 0.5s;
    user-select: none;
    border-radius: inherit;
    &.is-vertical {
      top: 0;
      left: 0;
      right: 0;
    }
    &.is-horizontal {
      left: 0;
      top: 0;
      bottom: 0;
    }
  }

  .__bar-wrap {
    position: absolute;
    &.is-vertical {
      width: 100%;
    }
    &.is-horizontal {
      height: 100%;
    }
  }

  .__bar-button {
    position: absolute;
    cursor: pointer;
    display: table;
    .__bar-button-inner {
      width: 0;
      height: 0;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    &-is {
      &-vertical {
        &-start {
          .__bar-button-inner {
            transform: translateY(-25%);
            border-top-color: transparent !important;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
          }
        }
        &-end {
          .__bar-button-inner {
            transform: translateY(25%);
            border-bottom-color: transparent !important;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
          }
        }
      }
      &-horizontal {
        &-start {
          .__bar-button-inner {
            transform: translateX(-25%);
            border-top-color: transparent !important;
            border-left-color: transparent !important;
            border-bottom-color: transparent !important;
          }
        }
        &-end {
          .__bar-button-inner {
            transform: translateX(25%);
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
          }
        }
      }
    }
  }

  .__refresh,
  .__load {
    position: absolute;
    width: 100%;
    color: black;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    svg {
      &.active {
        transition: all 0.2s;
        &.deactive {
          transform: rotateZ(180deg);
        }
      }
      margin-right: 10px;
      width: 25px;
      height: 25px;
      vertical-align: sub;
      path,
      rect {
        fill: #20a0ff;
      }
      &.start {
        stroke: #343640;
        stroke-width: 4;
        stroke-linecap: round;
        -webkit-animation: loading-rotate 2s linear infinite;
        animation: loading-rotate 2s linear infinite;
        .bg-path {
          stroke: #f2f2f2;
          fill: none;
        }
        .active-path {
          stroke: #20a0ff;
          fill: none;
          stroke-dasharray: 90, 150;
          stroke-dashoffset: 0;
          -webkit-animation: loading-wipe 1.5s ease-in-out infinite;
          animation: loading-wipe 1.5s ease-in-out infinite;
        }
      }
    }
  }
  .__none {
    visibility: hidden;
  }
  @-webkit-keyframes loading-rotate {
    to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn);
    }
  }

  @keyframes loading-rotate {
    to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn);
    }
  }

  @-webkit-keyframes loading-wipe {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -40px;
    }
    to {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -120px;
    }
  }

  @keyframes loading-wipe {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -40px;
    }
    to {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -120px;
    }
  }
}

.resize-triggers {
  visibility: hidden;
  opacity: 0;
}

.resize-triggers,
.resize-triggers > div,
.contract-trigger:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.resize-triggers > div {
  overflow: auto;
}

.contract-trigger:before {
  width: 200%;
  height: 200%;
}
